<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro!</title>
</head>
<body>
    <hgroup>
        <h1>Erro Gerado</h1>
        <h2>Desculpe-nos! Estamos trabalhando para resolver esse problema.</h2>
    </hgroup>
</body>
</html>

@Scripts.Render("~/bundles/loaded")