@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Contato:</strong>&nbsp;&nbsp;&nbsp;<a href="mailto:rgaliardi@gmail.com">Ricardo Galiardi</a><br />
    <strong>Linkedin:</strong>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/rgaliardi/?locale=pt_BR">Perfil Profissional</a><br />
</address>

@Scripts.Render("~/bundles/loaded")