<div class="jumbotron">
    <h1 style="text-align: center;">O JOGO</h1>
    <p class="lead">
        O empresário Sean Bean foi assassinado e o corpo dele foi deixado na frente da delegacia de polícia.
    </p>
    <p>
        O Inspetor Jacques Clouseau foi escolhido para investigar este caso.
    </p>
    <p>@Html.ActionLink("Vamos ao jogo!", "Index", "Play", null, new { @class = "btn btn-primary btn-lg button" })</p>
</div>

@Scripts.Render("~/bundles/loaded")